.container{
	width: 700px;
	margin: auto;
}

.center{
	text-align: center;
}

.right{
	text-align: right;
}

.img1{
	width: 250px;
	height: 200px;
	float: left;
	margin: 11px;
}

.img2{
	align-content: center;
}